* {
	margin: 0;
}

html {
	font-size: 18px;
}

:root {
	--kenobi-jedi-blue: lightblue;
}

body {
  background-color: grey;
  
}

#nav-bar {
	margin: 0 0 25px 0;
	background-color: #333;
	position: sticky;
	top: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li  {
    float: right;
    margin-right: 1.5rem;
    margin-bottom: 0;
    font-size: 1.5rem;
  }

  li:last-child {
  border-right: none;
}
  
  li  a {
    display: block;
    color: var(--main-text-color);
    text-align: center;
    padding: 0.5rem;
    text-decoration: none;
  }
  
  li  a:hover {
    background-color: lightblue;
    color: darkslategrey;
  }

header {
  display: block;
  margin: 0 auto;
  width: min(80vw, 700px);
  padding: 25px;
  text-align: center;
  box-shadow: 10px 10px 3em var(--kenobi-jedi-blue);
  
}

figcaption {
	color: white;
}

h1, h2, p, figcaption {
	text-align: center;
}

header, .glazing, .cards, .gallery {
  background-color: #333;
  color: #fff;
  border-radius: 40px;
}

.glazing {
  display: block;
  max-width: 500px;
  min-width: 240px;
  padding: 25px;
  margin: 20px auto 40px;
  text-align: center;
  box-shadow: 10px 10px 3em var(--kenobi-jedi-blue);
}

.container {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
}

.cards {
  padding: 48px;
  margin-bottom: 80px;
  text-align: center;
  box-shadow: 10px 10px 3em var(--kenobi-jedi-blue);
  flex-basis: 30%;
  min-width: 240px;
}

.gallery {
  margin: 40px;
  padding: 30px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: space-around;
  box-shadow: 10px 10px 3em grey;
  flex-basis: 30%;
  min-width: 240px;
  box-shadow: 10px 10px 3em var(--kenobi-jedi-blue);
}

.obi-wan {
  max-height: 200px;
  padding: 5px;
}

#title {
	color: white;
}

#image {
  display: block;
  margin: 30px auto 0;
  max-width: 95%;
  min-width: 350px;
  height: auto;
  border-radius: 40px;
}

a:link {
	color: green;
}
a:hover {
	color: white;
}
a:visited {
	color: lightblue;
}


@media only screen and (max-width: 500px) {
	.obi-wan {
		max-height: 150px;
	}
}
